#map {
  width: 100%;
  height: 75vh;
} 

.forecast-panel .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.forecast-panel .col {
  flex: 1;
  margin: 10px;
}

.forecast-panel .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: white;
  color: black;
}

.forecast-panel img {
  width: 100px;
  height: 100px;
}


.forecast-panel .card-text {
  margin: 5px 0;
}


main {
  background-color: #ffff;
  font-family: Arial, sans-serif;

  .title-header {
    background-color: #D3f3fe;
    padding: 25px;
    width: 100%;
    margin-bottom: 20px;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    border-right: solid 2px black;

    .title-header-inner {
      background-color: #D3f3fe;
    }

    .title-header-text {
      color: black;
    }
  }
}

.new-box {
  background-color: #D3f3fe;
  border-top: solid 2px black;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  border-right: solid 2px black;

  .new-box-text {
    color: black;
    text-align: center;
  }
}